@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.hero-section {
    background-image: 
    linear-gradient(to left, rgba(255, 255, 255, 0.144),rgba(0, 0, 0, 0.836)),
    url(images/eid-zakat-hero.png);
    background-size: cover;
    color: #fff;
    padding: 100px;
}

.hero-text {
    margin: 100px;
    width: 50%;
}

.hero-text h1 {
    font-size: 55px;
    margin: 0;
}

.hero-text p {
    line-height: 1.5rem;
}

button {
    background-color: #EF233C;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
}